@font-face {
    font-family: HankenGrotesk-VariableFont_wght;
    src: url(../fonts/HankenGrotesk-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: black; */
    font-family: HankenGrotesk-VariableFont_wght;
}

.main {
    height: 70%;
    display: flex;
    margin:auto auto auto auto;
    width: 35rem;
    box-shadow: 10px 15px 10px 0px hsl(221, 100%, 96%);
    border-radius: 1.5rem;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border-radius: 1.5rem;
    background-color: hsl(241, 81%, 54%);
    background-image:
    linear-gradient(
        to bottom,
        hsl(252, 100%, 63%),
        hsl(241, 81%, 54%)
    );
    width: 50%;
}

.right {
    width: 50%;
    padding-left: 2.2rem;
}

.circle {
    background-color: hsla(256, 72%, 46%, 1);
    background-image:
    linear-gradient(
        to bottom,
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 1),
        transparent
    );
    border-radius: 5rem;
    width: 10rem;
    height: 10rem;
    text-align: center;
}

.circle h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
    color: hsl(0, 0%, 100%, 0.9);
}

.circle p {
    margin-top: 0;
    color: hsl(241, 100%, 89%, 0.5);
    font-weight: 600;
}

.description {
    font-size: 18px;
    color: hsl(224, 30%, 80%, 0.8);
    text-align: center;
    width: 90%;
    margin-bottom: 1rem;
}

.evaluation {
    font-size: 25px;
    color: hsl(0, 0%, 100%);
}

.left h3 {
    margin-top: 1rem;
    color: hsl(224, 30%, 80%, 1);
    font-weight: 700;
    font-size: 1.2rem;
}

.right h1 {
    font-size: 1.3rem;
    margin: 1.5rem 0 1.5rem 0;
}

.right .reaction {
    background-color: hsl(0, 100%, 67%, 0.1);
    width: 80%;
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.right .reaction .title {
    color: hsl(0, 100%, 67%);
    font-weight: 800;
}

.right .point {
    font-weight: 800;
    opacity: 0.9;
    margin-left: auto;
}

.right .memory {
    background-color: hsl(39, 100%, 56%, 0.1);
    width: 80%;
    display: flex;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.right .memory .title {
    color: hsl(39, 100%, 56%);
    font-weight: 800;
}